@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Tektur:wght@500&family=Ubuntu:wght@400;500;700&display=swap');
:root {
  --font-family-body: 'Ubuntu', system-ui, Helvetica, Arial, sans-serif;
  --font-family-heading: 'Tektur', system-ui, Helvetica, Arial, sans-serif;
  --page-width: 120rem;
  --page-padding-mobile: var(--size-5);
  --page-padding-desktop: var(--size-8);
  --page-padding: var(--page-padding-mobile);
  --color-dex-red: 163, 36, 38;
  font-family: var(--font-family-body);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-heading);
  font-weight: 500;
}

@media screen and (min-width: 750px) {
  :root {
    --page-padding: var(--page-padding-desktop);
  }
}

body * {
  box-sizing: border-box;
}

body {
  display: block;
  font-size: 1.6rem;
  margin: 0;
  background: rgb(var(--color-dex-red));
  min-height: 100vh;
  padding-bottom: var(--size-8);
}

button {
  position: relative;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

input {
  border: none;
  border-radius: 10rem;
  padding: var(--size-2) var(--size-3);
  text-overflow: ellipsis;
}

input:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

/* Global classes */
.page-width {
  width: 100%;
  max-width: var(--page-width);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  margin-left: auto;
  margin-right: auto;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.emboss {
  box-shadow: -0.5px -0.5px 0.5px 2px rgba(0, 0, 0, 0.2), 1.5px 1.5px 1px 1px rgba(255, 255, 255, 0.1)
}

.emboss-large {
  box-shadow: -0.5px -0.5px 0.5px 5px rgba(0, 0, 0, 0.1), 2px 2px 3px 1px rgba(255, 255, 255, 0.3)
}

/* Main layout */
.main-layout {
  display: grid;
  height: 100%;
  width: 100%;
}

/* header */
.header {
  padding-top: var(--size-6);
  padding-bottom: var(--size-6);
  border-bottom: solid 1px rgba(0,0,0,0.3);
  box-shadow: var(--shadow-md);
}

.header__content {
  display: flex;
  align-items: center;
  gap: var(--size-8);
}

.query-form {
  width: 100%;
  flex-grow: 1;
}

.query-form__search {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.query-form__search input {
  width: 100%;
  font-size: 2rem;
}

.query-form__search button {
  width: 100%;
  position: absolute;
  opacity: 1;
  right: var(--size-1);
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-blue-300);
  padding: 0;
  height:  var(--size-8);
  width:  var(--size-8);
  border-radius: 50%;
  transition: opacity ease 300ms;
}

.query-form__search button .icon {
  width: 60%;
}

.query-form__search button:disabled {
  opacity: 0;
}


/* Animal image */
.section--animal-image {
  padding-top: var(--size-6);
  padding-bottom: var(--size-6);
  background: #212121;
  /* margin-top: var(--size-6); */
}

.animal-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

/* Search results */
.search-results {
  padding: var(--size-6) 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
}

.search-results__result button {
  font-weight: 500;
  letter-spacing: 0.05em;
  background: rgba(0, 53, 118, 0.5);
  padding: var(--size-4);
  border: solid 1px rgb(72, 200, 255);
  color: rgb(116, 205, 243);
  transition: background ease 200ms;
}

.search-results__result button:hover {
  background: rgba(0, 53, 118, 0.7);
}

/* Details */
.details-container {
  margin-top: var(--size-8);
}

.scanline-bg {
  --color-bg-1: 30, 165, 255;
  --color-bg-2: 48, 175, 255;
  padding: 0 var(--page-padding);
  border: solid 1px rgb(135, 221, 255);
  border-radius: var(--radius-lg);
  background: rgb(32, 180, 243);
  background-image: repeating-linear-gradient(
    rgb(var(--color-bg-1)),
    rgb(var(--color-bg-1)) 1px,
    rgb(var(--color-bg-2)) 4px,
    rgb(var(--color-bg-2)) 4px,
    rgb(var(--color-bg-1)) 7px
  );
}


.animal-name {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 gap: var(--size-3);
}

.animal-name__title {
  margin: 0;
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.animal-name,
.details {
  margin-top: var(--size-8);
  font-weight: 500;
  letter-spacing: 0.05em;
  background: rgba(0, 53, 118, 0.5);
  padding: var(--size-4);
  border: solid 1px rgb(72, 200, 255);
  color: rgb(116, 205, 243);
}

.details h2 {
  margin-top: var(--size-2);
}

/* .details:before {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: rgb(32, 180, 243);
} */

.details + .details {
  margin-top: var(--size-8);
}

